<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cash Register | Index</title>
</head>
<body>
    <h2>Cash Register</h2>
    <h3>Employee</h3>
    <a href="/employee/look">/employee/look</a><br />
    <a href="/employee/all">/employee/all (json)</a><br />
    <a href="/employee/all?xml=1">/employee/all (xml)</a><br />
    <a href="/employee/add">/employee/add</a><br />
    <a href="/employee/edit/1">/employee/edit/&lt;id&gt;</a><br />
    <h3>Menu</h3>
    <a href="/menu/look">/menu/look</a><br />
    <a href="/menu/all">/menu/all (json)</a><br />
    <a href="/menu/all?xml=1">/menu/all (xml)</a><br />
    <a href="/menu/add">/menu/add</a><br />
    <a href="/menu/edit/1">/menu/edit/&lt;id&gt;</a><br />
    <h3>Purchase</h3>
    <a href="/purchase/65">/purchase/&lt;id&gt;</a><br />
    <a href="/purchase/65?xml=1">/purchase/&lt;id&gt; (xml)</a><br />
    <a href="/purchase/add">/purchase/add</a><br />
    <h3>Receipt</h3>
    <a href="/receipt/65">/receipt</a><br />

<p>Not suited for production environment!</p>

</body>
</html>